<div class="locations-container">
    <div class="head-container">
        <h2>Place to<span> Visit</span></h2>

        <div class="top-reviews">
            <span class="material-icons">add</span>
            <span>Top Reviews</span>

            <div class="img-reviews">
                <img src="../../../assets/img/people/1.jpg" alt="Reviewer 1">
                <img src="../../../assets/img/people/2.jpg" alt="Reviewer 2">
                <img src="../../../assets/img/people/3.jpg" alt="Reviewer 3">

                <div class="more-reviews">
                    <span>6+</span>
                </div>

            </div>
        </div>
    </div>


    <div class="cards-cities-container row">
        <div class="col-12 col-lg-6 main-city">
            <img src="../../../assets/img/cards/card1.jpg" alt="Arab Street Singapore">
            <div class="img-description">
                <span class="material-icons"> location_on </span>
                <span>Arab Street Singapore</span>
            </div>

        </div>

        <div class="col-12 col-lg-6 secondary-cities ">
            <div class="first-city">
                <img src="../../../assets/img/cards/card3.jpg" alt="Art Science Museum">
                <div class="img-description">
                    <span class="material-icons"> location_on </span>
                    <span>Art Science Museum</span>
                </div>
            </div>

            <div class="second-city">
                <div class="img-container">
                    <img src="../../../assets/img/cards/card2.jpg" alt="Fountain of Health">
                    <div class="img-description">
                        <span class="material-icons"> location_on </span>
                        <span>Fountain of Health</span>
                    </div>
                </div>


                <button class="add">
                    <span class="material-icons">add</span>
                </button>
            </div>
        </div>
    </div>


</div>